
.DS_Store

node_modules

.idea/dictionaries/phongle.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/jsLibraryMappings.xml

.idea/libraries/meteor_packages_auto_import_browser.xml

.idea/libraries/meteor_packages_auto_import_npm.xml

.idea/misc.xml

.idea/modules.xml

.idea/myapp.iml

.idea/vcs.xml

.idea/workspace.xml
